
    body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input[type=password], input[type=text] {
  padding: 8px;
  font-size: 1rem;
}